<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Sobre Cantina Maziero</h1>
        <p class="lead text-muted mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img
          src="https://www.stefanssteakhouse.fi/uploads/2020/09/90f45073-stefans_steakhouse-jkl-2-1024x683.jpg"
          alt="Italian Food" class="img-fluid" style="border-radius: 50px;"></div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Onde estamos?</h2>
        <p class="font-italic text-muted mb-4">Estamos localizados pertinho da Cast Group em Araraquara</p><a href="#"
          class="btn btn-light px-5 rounded-pill shadow-sm">Rotas</a>
      </div>
      <div class="mapouter px-5 mx-auto order-1 order-lg-2">
        <div class="gmap_canvas" style="border-radius: 50px;"><iframe class="gmap_iframe" width="100%" frameborder="0"
            scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=500&amp;height=400&amp;hl=en&amp;q=Cast Araraquara&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
            href="https://www.fnfgo.com/">FNF</a></div>
      </div>
    </div>


    <div class="row align-items-center">
      <div class="col-lg-8" style="width:697px; height:392px;">

        <iframe width="75%" height="80%" src="https://www.youtube.com/embed/vTHyNCiIDpQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          style="margin-top:50px">
        </iframe>

        <!--
            Website desenvolvido por Pedro Henrique e Ricardo Maziero,
            durante a Turma de Formação, no estágio da Cast Group, com o objetivo
            de fixar os conceitos de Nodejs, Angular, Bootstrap, Typescript e desenvolvimento
            Web em geral.
         -->

      </div>
      <div class="col-lg-4"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Nossos encanadores</h2>
        <p class="font-italic text-muted mb-4">Nossos encanadores são peças chave do nosso restaurante,
          eles são mundialmente conhecidos, são ótimos profissionais.</p><a href="#"
          class="btn btn-light px-5 rounded-pill shadow-sm">Saiba mais</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Nosso Time</h2>
        <p class="font-italic text-muted">Nosso time é cheio de talentos</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../assets/img/fotoJPG.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="width: 100px; height: 100px;">
          <h5 class="mb-0">Ricardo Maziero</h5><span class="small text-uppercase text-muted">Fundador</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../assets/img/pedrao.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="width: 100px; height: 100px;">
          <h5 class="mb-0">Pedro Barros</h5><span class="small text-uppercase text-muted">Co-Fundador</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../assets/img/mario.png" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="width: 100px; height: 100px;">
          <h5 class="mb-0">Mario</h5><span class="small text-uppercase text-muted">Encanador</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="../../assets/img/luigi.jpg" alt="" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" style="width: 100px; height: 100px;">
          <h5 class="mb-0">Luigi</h5><span class="small text-uppercase text-muted">Assistente de Encanador</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Cantina Maziero, 2021.</p>
  </div>
</footer>
